.formacao {
    background: #141414;
    color: #fff;
}

.formacao-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;

    position: relative;
  }

.formacao-container::after {
    content: "";
    width: 128px;
    height: 128px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;

    bottom: -64px;
    left: 20px;
}

.formacao .subtitulo {
    max-width: 5ch;
    color: #000;
}

.formacao-texto {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.formacao-texto strong {
    color: #fff;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.faculdade {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    background: #090909;
}

.faculdade-tipo {
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 40px;

    position: relative;
}

.faculdade-curso::before {
    content: "";
    width: 4px;
    height: 18px;
    background: linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);

    display: block;

    position: absolute;
    top: 2px;
    left: -24px;
}

.faculdade-instituicao {
    font-size: 1.125rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #a3a3a3;
}

.formacao-extra h3 {
    font-size: .875rem;
    line-height: 1.125rem;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;

    position: relative;
}

.formacao-extra h3::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;

    position: absolute;
    top: -4px;
    left: -34px;
}

.cursos h3::before {
    background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
    background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
}

.formacao-extra span {
    color: #8f8f8f;
}

.cursos {
    margin-bottom: 60px;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {

    .formacao-container {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 20px;
    }

    .formacao .subtitulo {
        color: #fff;
    }

    .formacao-texto {
        font-size: 1.4rem;
        line-height: 1.3;
        margin-bottom: 40px;
        max-width: 40ch;
    }

    .formacao-extra h3 {
        margin-bottom: 20px;
    }

    .formacao-extra h3::before {
        position: initial;
        margin-bottom: 5px;
    }

    .formacao-extra li {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {

    .formacao-container {
        gap: 15px;
    }

    .formacao-texto {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .cursos {
        margin-bottom: 40px;
    }
}

@media (max-width: 425px) {
    
    .formacao-container {
        gap: 10px;
    }

    .formacao-texto {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .faculdade-lista {
        margin-bottom: 40px;
    }
}